/*-------------Reset Styles---------------*/
* {
   padding: 0px;
   margin: 0px;
   border: none;
}

*,
*::before,
*::after {
   box-sizing: border-box;
}

/* Links */

a,
a:link,
a:visited {
   text-decoration: none;
}

a:hover {
   text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
   display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
   font-size: inherit;
   font-weight: inherit;
}

img {
   vertical-align: top;
}

img,
svg {
   max-width: 100%;
   height: auto;
}

address {
   font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
   font-family: inherit;
   font-size: inherit;
   color: inherit;
   background-color: transparent;
}

input::-ms-clear {
   display: none;
}

button,
input[type="submit"] {
   display: inline-block;
   box-shadow: none;
   background-color: transparent;
   background: none;
   cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
   outline: none;
}

button::-moz-focus-inner {
   padding: 0;
   border: 0;
}

label {
   cursor: pointer;
}

legend {
   display: block;
}


/*-------------Style---------------*/

body,
html {
   height: 100%;
   font-family: Helvetica;
   color: #1a1a1a;
   font-size: 24px;
}

/*-------------Header---------------*/

header {
   width: 90vw;
   margin: 25px auto;
   height: auto;
   aspect-ratio: 2.04 / 1.04;
   background-image: url('assets/iphone.png');
   background-size: cover;
   background-position: center;
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
}

.header-overlay {
   width: 100%;
   height: 100%;
   margin-left: 75px;
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: start;
}

.page-title-block {
   font-size: 100px;
   padding: 20px;
   text-align: left;
}

.header-nav {
   font-size: 26;
   font-weight: bold;

   position: absolute;
   top: 64px;
   right: 100px;


   display: flex;
}

.header-links-blok a {
   color: rgb(0, 0, 0);
   font-size: 26px;
   font-weight: bold;
   text-decoration: underline;

   margin-right: 40px;
}

/*-------------About me---------------*/

.about-me {
   font-size: 24px;
   width: 85vw;
   margin: 40px auto;
   font-weight: 400;
}

h2 {
   font-size: 52px;
   font-weight: bold;
   margin-bottom: 40px;
}

.about-me p {
   margin-bottom: 15px;
}

ul {
   list-style-type: disc;
   margin-left: 80px;
   margin-bottom: 20px;
}

ul li {
   line-height: 1.6;
}

/*-------------Projects---------------*/

.projects {
   margin: 0 auto;
   width: 85vw;
}


.my-projects {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 20px;
}

.card {
   background-color: #e8e8e8;
   border-radius: 15px;
   padding: 20px;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
   text-align: left;
}

.card h2 {
   font-size: 24px;
   font-weight: bold;
   margin-bottom: 10px;
}

.card p {
   margin: 0;
   font-size: 16px;
}

.card .stack {
   font-weight: bold;
   margin-bottom: 5px;
}

/*-------------Footer---------------*/

footer {
   background-color: #e6e6e6;
   padding: 20px 100px;
   text-align: left;
   border-top: 2px solid #ccc;
   margin-top: 60px;
   display: flex;
   justify-content: space-between;
   align-items: center;

}

footer p {
   margin: 5px 0;
   font-size: 14px;
   color: #333;
}

footer a {
   font-weight: bold;
   text-decoration: none;
   color: black;
}

footer a:hover {
   text-decoration: underline;
}